body{
    background-image: url(img/backlap.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.bloc1{
    display: flex;
    padding: 5px;
}
.gauche {
    opacity: 0;
}
.gauche.animate__animated.visible {
    opacity: 1;
}
.droite {
    opacity: 0;
}
.droite.animate__animated.visible {
    opacity: 1;
}
.bas {
    opacity: 0;
}
.bas.animate__animated.visible {
    opacity: 1;
}
.bounce {
    opacity: 0;
}
.bounce.animate__animated.visible {
    opacity: 1;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.bloc2{
    display: flex;
    height: 30vh;
    border-radius: 20px;
    background-color: rgba(55, 64, 177, 0.95);
}
.bloc3{
    display: flex;
    height: 40vh;
    border-radius: 20px;
    background-color: rgba(55, 64, 177, 0.95);
    padding: 20px;
    margin: 20px;
}
.row{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

input{
    width: 60%;
}
textarea{
    width: 70%;
}

.container{
    height: 100vh;
}

.centertext{
    text-align: center;
}
.bigfont{
    font-size: 2rem;
}
.small{
    height: 100vh;
}

@media (min-width: 768px){

    .grid4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5vh;
        width:80%;
        margin:auto;
        padding:10px;
    }
    html, body{
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    .snap{
        scroll-snap-align: start;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .names{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .anidelay1{
        animation-delay: 1s;
    }
    .anidelay2{
        animation-delay: 2s;
    }
    .photo{
        background-image: url(img/CV.jpg);
        background-size: cover;
        background-position: 0% 10%;
        width: 200px;
        height: 200px;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
}

@media (max-width: 767px){
    .grid4{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5vh;
        width:80%;
        margin:auto;
        padding:10px;
    }
    .snap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .big{
        height: 200vh;
    }
    .names{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .photo{
        background-image: url(img/CV.jpg);
        background-size: cover;
        background-position: 0% 10%;
        width: 130px;
        height: 130px;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
}
