/*-----------IMPOR---------T*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/*----------COLOR------------*/
:root {
    --background:#FFFAED;
    --background-lighter:#fffdfa;
    --orange-head:#FCDD9D;
    --very-dark-blue:#66648F;
    --dark-blue:#9693C2;
    --very-light-blue:#C4C3E3;
    --lime:#D4E0A6;
    --vibrant-orange:#E89574;
    --old-pink:#E6C1E1;
}

/*------ROOT BODY HTML---------*/
body {
    background-color: var(--background);
    margin:0;
    width: 100%;
    height: 100%;
}

section {
    margin: 3rem;
}

/*-------------FONT------------*/
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    color:var(--very-dark-blue);
    margin:0; 
}

h2 {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color:var(--dark-blue); 
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color:var(--very-dark-blue);
    text-justify: center;
    white-space: nowrap;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color:var(--very-dark-blue);
  text-justify: center;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color:var(--very-dark-blue);  
}

/*--------------HEADER---------------*/
header {
    background-color: var(--orange-head);
    height: 16vh;
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    gap: 25rem;
    padding-left: 1.4rem;
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar a img {
    width: auto;
    height: 3vw;
    margin-top: 0;
}

.logo {
    height: 6vw;
    width: auto;
    padding-top: 1rem;
}

header p{
    font-size: 0.7rem;
    padding: 5px 13px 5px 13px;
    border : 2px solid var(--dark-blue);
    border-radius: 10px;
    align-items: end;
    margin-top: 3rem;
}

/*-----------SEARCH BAR-----------*/
.top{
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center; 
}
.search-bar{
    display: flex;
    background: none;
    border: 2px solid var(--very-dark-blue);
    border-radius: 10px;
    width: 53%;
    padding: 10px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
    transform: translate(20rem); 
}

.search-bar img{
    height: 3vh;
}

/* DIV TEST*/
.allbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}

.box {
  width: calc(33.33% - 20px);
  transition: all 0.3s ease;
}

.box {
  position: relative; 
}


/* DIV PETIT */
.box.collapsed {
  width: 300px; 
  height: 200px;
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
  padding: 1rem;
  padding-left: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
  margin-left: 4rem;
  margin-top: 4rem;
  border : 8px solid var(--very-light-blue);
  border-radius: 31px;
  background: var(--background-lighter);
}

/* DIV ETENDUE */
.box.expanded {
  background: var(--background-lighter);
  border : 8px solid var(--very-light-blue);
  border-radius: 31px;
  width: 87%;
  display: flex;
  margin-left: 4rem;
  padding-left: 1.3rem;
  margin-top: 4rem;
  gap: 8rem;
  transition: width 0.5s, height 0.5s;
  display: flex;
}

.box .left .info {
    display: flex;
    flex-wrap: wrap;
    gap: 0px; 
    justify-content: space-between;
}

.box.expanded .left {
  position: relative;

}

.contrat, .endroit, .wage {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 60%;
}

.box .left .info img {
  height: auto;
  width: 20px;
  object-fit: contain;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.info div {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.box.collapsed .info {
  flex-direction: row;
}

.box.collapsed .contrat,.box.collapsed .endroit,.box.collapsed .wage {
  gap:0rem;
}

.box.expanded .info {
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: auto; 
}

#apply.hidden {
  display: none;
}

/*----------FOOTER----------*/
footer {
    height: 26vh;
    background-color: var(--very-light-blue);
    margin-top: 5rem;
    width: 100%;
}

footer .container {
    padding: 5px;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    gap: 20rem;
}

footer p{
    font-size: 1rem;
    line-height: 14px;
}

footer .Rights {
    display: flex;
    justify-content: center;
    margin:0;
}

/*DIALOG*/
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.window {
  width: 50rem;
  background-color: var(--background-lighter);
  border:0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

dialog {
  border-radius: 10px;
  border:0px;
}

.window label {
  color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color:var(--very-dark-blue);  
}

.window h3 {
  color:var(--vibrant-orange);
  font-size: 1.7rem;
}